<!DOCTYPE html>
<html>
  <head>
    <title>WebJooj</title>
    <link rel="icon" href="/img/castform-icon.png">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <img class="portrait" src="{{profilePic}}" title="{{imgTitle}}" alt="{{imgAlt}}">
      <p>(Obs.: Este não sou eu. Este é o Cillian Murphy Ken).</p>
      <p>Esse site busca informações sobre o clima por geolocalização através das APIs Open-Meteo e positionstack.</p>
    </div>
    {{>footer}}
  </body>
</html>