<!DOCTYPE html>
<html>
  <head>
    <title>WebJooj</title>
    <link rel="icon" href="/img/castform-icon.png">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>{{message}}</p>
      <img class="figure" src="{{imgSrc}}" title="{{imgTitle}}" alt="{{imgAlt}}">
    </div>
    {{>footer}}
  </body>
</html>