<!DOCTYPE html>
<html>
  <head>
    <title>WebJooj</title>
    <link rel="icon" href="/img/ghastly-icon.png">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p class="center">{{message}}</p>
    </div>
    <p><a href="{{goBack}}">Voltar</a></p>
    {{>footer}}
  </body>
</html>