<header>
  <h1 class="{{classes}}"><i>WebJooj: </i>{{title}}</h1>
  <ul>
    <li><a href="/" title="Consulte o clima da sua região">Clima</a></li>
    <li><a href="/help">¡Ayuda!</a></li>
    <li><a href="/about">About me</a></li>
  </ul>
</header>